In [15]:
from sklearn.datasets import load_iris
import pandas as pd

In [16]:
iris = load_iris()

iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

iris_df['target'] = iris.target
iris_df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
111,6.4,2.7,5.3,1.9,2
4,5.0,3.6,1.4,0.2,0
20,5.4,3.4,1.7,0.2,0
66,5.6,3.0,4.5,1.5,1
30,4.8,3.1,1.6,0.2,0

In [24]:
print(f"Shape: {iris_df.shape[0]} rows × {iris_df.shape[1]} columns")
print('-'*84+'\n')
print(iris_df.info())
print('-'*84)
display(iris_df.describe())

Shape: 150 rows × 5 columns
------------------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB
None
------------------------------------------------------------------------------------

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000